<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.bit.chain.charts">

    <application>
        <activity android:name=".presentation.ChartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
